.App {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  background-image: linear-gradient(black, rgb(49, 0, 141));
  color: #fff;
}

.navbar {
  justify-content: end;
  align-items: center;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.logo {
  margin-left: 20px;
}

.brand{
  margin: 30px;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 470px;
  border: 2px solid #fff;
  margin: 8px auto;
  border-radius: 40px;
  background-color: #2a2a2a;
}

input {
  text-align: center;
  font-size: 100%;
  width: 60%;
  padding: 12px 20px;
  border: 2px solid #2a2a2a;
  color: #fff;
  background-color: #2a2a2a;
}

.search input[type="input"] {
  background-color: #2a2a2a; /* Ubah dengan warna yang diinginkan */
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  color: white; /* Ubah dengan warna teks yang diinginkan */
  font-size: 18px;
  width: 200px; /* Ubah dengan lebar yang diinginkan */
  margin-right: 8px; /* Sesuaikan dengan margin yang diinginkan */
  justify-content: center;
  align-items: center;
}

.search input[type="input"]::placeholder {
  color: lightgray;
}

.search input[type="input"]:focus {
  outline: none;
}

.search-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transform: translate(200px, -1px);
}

.search-btn img {
  width: 25px;
  height: 25px;
}

.btn {
  background-color: #2a2a2a;
  color: #fff;
  border: 3px solid #2a2a2a;
}

h1{
  font-family: fantasy;
  text-shadow: 2px 2px 4px #818181;
}

.page-footer {
  font-family: Arial, Helvetica, sans-serif;
}

.carousel {
  margin: 20px 0;
}

.slick-slide {
  padding: 0 10px;
}

.slider-container {
  overflow-x: scroll;
  white-space: nowrap;
  color: #000;
}

.slider-card {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}

.slider-card img {
  height: 200px;
  object-fit: cover;
}

.slider-card .card-body {
  padding: 10px;
}

.slider-card .card-title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  width: calc(25% - 20px);
  margin: 5px;
  padding: 5px;
  background-color: #ddd;
  text-align: center;
  box-shadow: 5px 6px 2px rgba(0, 0, 0, 0.3);
}

.profile img {
  max-width: 100%;
  max-height: 100%;
}

.profile-info {
  text-align: center;
  margin-top: 10px;
}

.profile-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.profile-info p {
  font-size: 14px;
  margin: 0;
}

.profile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.profile-button img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.modal {
  width: 1000px;
}

.modal-footer {
  justify-content: flex-start;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.products {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
